.swiper {
    width: 450px;
    border-radius: 16px;
    margin: 0;
}

.swiper img {
    border-radius: 16px;
    width: 450px;
}

.swiper_thumbnail .swiper-slide {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    width: 200px;
}

.swiper_thumbnail .swiper-slide-thumb-active {
    border: #ff4267 solid 2px;
    border-radius: 16px;
}

.swiper_thumbnail img {
    width: 100%;
    height: auto;
}

.swiper_thumbnail {
    width: 300px;
    display: flex;

}

.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
}

.swiper_thumbnail .swiper-wrapper {
    width: 100%;
}

section.article {
    display: flex;
    height: 100%;
    padding: 50px 25px;
    width: 100%;
    max-width: 1250px !important;
    margin: 0 auto;
    gap: 50px;
}
section.article h1 {
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 0;
}

div.article-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-top: 30px;
}

.sizes {
    display: flex;
    gap: 5px;
    position: relative;
    top: -5px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    padding:  25px 30px;
    display: flex;
    border: 2px solid #e0e0e0;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

button {
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
    background-color: #ff4267;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 300px
}

.singlepage-reduction {
    padding-top: 1px;
    position: absolute;
    right:0;
    top: 7%;
    height: 60px;
    width: 120px;
    z-index: 2;
    border-radius: 8px 0 0 16px;
    color: var(--color-fg);
    background-color: rgb(255, 0, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    box-shadow: 3px 3px 0 0 rgb(181, 31, 50);
}

.brand {
    font-size : 64px;
    font-weight: 500
}

.brand:hover {
    color: #ff4267;
    transition: 0.5s;
}

.name {
    font-size: 32px;
    font-weight: 500;
}

.color {
    font-size: 16px;
    font-weight: 500;
}


.code {
    border: 1px solid #595959;
    border-radius: 50%;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: -1px;
}

.article-color {
    display: flex;
    gap: 5px;
    position: relative;
    top: -5px;
    margin-bottom: 10px;
}
.article-color .color-name {
    opacity: .9;
}

.description-decoration {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #ececec;
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #595959;
    font-size: 15px;
}
.display-decoration {
    position: absolute;
    bottom: -15px;
    right: 20px;
    background-color: #ececec;
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #595959;
    font-size: 16px;
    font-style: italic;
    transition: color .2s ease;
}
.description:hover .display-decoration {
    color: rgb(202, 52, 72);
}

.description .infos {
    margin-top: 15px;
}
.description .info {
    display: flex;
    gap: 5px;
    align-items: center;
}
.description .title {
    font-weight: bold;
    font-size: 16px;
}

.article-cart-ctn {
    margin: 30px 0 50px;
}

.select-attr-ctn {
    display: flex;
    gap: 40px;
}
.attr-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.attr-item .title {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: .8;
}

.quantity-ctn {
    display: flex;
    font-size: 25px;
}
.quantity-ctn .qty {
    min-width: 40px;
}
.quantity-ctn i {
    font-size: 30px;
}

.sizes-ctn {
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
}
.size-item {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.hidden {
    display: none;
}
.sizes-ctn label {
    cursor: pointer;
}
.sizes-ctn input:checked ~ label {
    color: rgb(197, 38, 59) !important;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.add-to-cart {
    margin-top: 20px !important;
    max-width: 50%;
}