.swiper {
    width: 450px;
    border-radius: 16px;
    margin: 0;
}

.swiper img {
    border-radius: 16px;
    width: 450px;
}

.swiper_thumbnail .swiper-slide {
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    width: 200px;
}

.swiper_thumbnail .swiper-slide-thumb-active {
    border: #ff4267 solid 2px;
    border-radius: 16px;
}

.swiper_thumbnail img {
    width: 100%;
    height: auto;
}

.swiper_thumbnail {
    width: 300px;
    display: flex;

}

.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
    margin: 25px 0 525px 0;
}

.swiper_thumbnail .swiper-wrapper {
    width: 100%;
}