* {
    box-sizing: border-box;
}
:root {
    --color-bg: #ececec;
    --color-fg: #131313;
}
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-bg);
    color: var(--color-fg);
}